:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-container {
    padding: 0 !important;
    flex-direction: column;
}

/*HOME SECTION*/

.logo {
    width: 120px;
    height: auto;
}

.nav-events {
    padding: 1rem !important;
    background-color: #f3f3f4;
    width: 100%;
}

.nav-link {
    text-decoration: none;
}

.nav-item {
    background-color: #d90368;
    margin: .5rem;
}

.hero-past {
    background-image: url("../images/past-events.jpg");
    width: 100vw;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-upcoming {
    background-image: url("../images/upcoming-events.jpg");
    width: 100vw;
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.title-hero {
    color: rgba(255, 255, 255, 0.538);
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
}

.title-contact {
    color: rgba(255, 255, 255, 0.538);
    font-size: 3rem;
    text-transform: uppercase;
    padding-top: 2rem;
    text-align: center;
}

.title-stats {
    color: rgba(4, 4, 4, 0.538);
    font-size: 3rem;
    text-transform: uppercase;
    padding-top: 2rem;
}

.carousel .carousel-item {
    height: 60vh;
}


.img-carousel {
    object-fit: cover;
    height: 60vh;
}

.category {
    align-self: center;

}

.search {
    align-self: center;
}

.header-section {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 1rem;
}

.cards-section {
    padding: 2rem;
}

.card-img-top {
    height: 40%;
    object-fit: cover;
}

.card {
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 0 !important;
}

.date {
    color: #d90368;
    font-size: small;
}


footer {
    height: auto;
    margin-top: auto;
    background-color: #f3f3f4;
    /* border-top: .2rem solid #d90368; */
    
}

.footer-mockup1 {
    padding: 1rem;
    align-items: center;
}

.icon-link {
    color: white;
}


.style-icon {
    font-size: 1.5em;
    background-color: #d90368;
    padding: 0.625rem 0.75rem;
    border-radius: 50%;
    margin-right: .5rem;
}

.cohort {
    color: #d90368;
    font-weight: 800;
    font-size: large;
    margin: 0;
}

.form {
    background-image: url("../images/contact2.jpg");
    min-width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
}

.form-style {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 2rem;
    background-color: #212529;
    margin: 2rem;
    border-radius: 1rem;
}

.submit {
    background-color: #d90368 !important;
    color: white !important;
    width: auto;
    margin-top: 1rem;
    align-self: flex-end;
}

.form-style>label {
    color: white;
    padding-bottom: .2rem;
}


.contact-input,
.contact-textarea {
    margin-bottom: 1rem;
}

.title {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
}

.img-details {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.section-submit {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.alert {
    width: auto !important;
}

.submit-contact {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-submit {
    font-size: 3rem;
    padding-bottom: 1rem;
}

.hero-stats {
    background-image: url("../images/stats.jpg");
    max-width: 100vw;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
}

.caption-stats {
    background-color: #212529;
    color: white;
    font-weight: bold;
    text-align: center;
}

th,
tr {
    border: 1px solid #000 !important;
}

th {
    text-align: center !important;
    vertical-align: middle;
}

.table {
    table-layout: fixed;
    margin-bottom: 0 !important;
}

.list-details {
    padding-top: .5rem;
    list-style: none;
    padding-left: 0;
}

@media (min-width: 375px) {
    .table-stats {
        padding: 1rem;
    }
}

@media (max-width: 575.98px) {
    .footer-mockup1 {
        flex-direction: column;
        align-items: center;
    }

    .redes {
        margin-bottom: 1rem;
    }

    .category {
        display: flex;
        flex-direction: column;
    }

    .search {
        width: 100% !important;
    }

    .form-style {
        width: 100%;
        border-radius: 0;
    }

    .submit {
        align-self: center;
        width: auto;
    }
}

@media (min-width: 768px) {
    .img-details {
        border-radius: 0.25rem 0 0 0.25rem!important;
    }
}

@media (max-width: 767.98px) {
    .header-section {
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        background-color: #d90368;
        color: white;
    }

    .category {
        margin-bottom: 1rem;
        width: 100%;
    }

    .search {
        width: 50%;
    }

    .burguer {
        background-color: #d90368 !important;

    }

    .img-details {
        border-radius: 0.25rem 0.25rem 0 0!important;
    }

}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }

    .nav-link {
        background-color: #d90368;
        margin: .5rem;
        color: white !important;
    }

    .table-stats {
        padding: 2rem;
    }
}

.btn-details {
    cursor: pointer!important;
}

.btn-dark:hover {
    background-color: #d90368!important;
    border-color: #d90368!important;
}